<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Cadastro de Transação</title>
</head>

<body>
<h1>Cadastro de Transação</h1>

<div th:text="${mensagem}" style="color: green;"></div>

<form th:action="@{/conta/{contaId}/transacao(contaId=${transacao.conta.id})}" method="POST" th:object="${transacao}">
    <input type="hidden" th:field="*{id}" />

    Data: <input type="date" th:field="*{data}" required /><br /><br />
    Descrição: <input type="text" th:field="*{descricao}" required /><br /><br />
    Valor: <input type="number" step="0.01" th:field="*{valor}" required /><br /><br />
    Comentário: <textarea th:field="*{comentario}"></textarea><br /><br />
    Categoria:
    <select th:field="*{categoria.id}" required>
        <option th:each="cat : ${categorias}" th:value="${cat.id}" th:text="${cat.nome}"></option>
    </select><br /><br />

    <input type="submit" value="Salvar" />
</form>
</body>

</html>
