<!doctype html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:with="titulo='Detalhes da Transação'">
<body>
<div layout:fragment="content">
    <div>
        ID: <h1 th:text="${idTransacao}"></h1>
    </div>
    <div>
        Descrição: <h1 th:text="${descricao}"></h1>
    </div>
    <div>
        Valor: <h1 th:text="${valor}"></h1>
    </div>
    <div>
        Data: <h1 th:text="${#temporals.format(transacao.data, 'dd/MM/yyyy HH:mm')}"></h1>
    </div>
    <div>
        Categoria: <h1 th:text="${categoria}"></h1>
    </div>
    <div>
        <h2>Comentários</h2>
        <ul>
            <li th:each="comentario : ${comentarios}">
                <span th:text="${comentario.texto}"></span>
                <!-- Ícones de editar e excluir -->
                <a th:href="@{/comentario/editar/{id}(id=${comentario.id})}">✏️</a>
                <a th:href="@{/conta/{idConta}/transacoes/{idTransacao}/comentarios/{id}/excluir(idConta=${idConta}, idTransacao=${idTransacao}, id=${comentario.id})}">🗑️</a>

            </li>
        </ul>
    </div>


<!--    <div class="">-->
<!--        <span> </span>-->
<!--        Conta: <h1 th:text="${transacao.getConta()}"></h1>-->
<!--        <h5 th:text="${mensagem}" style="margin: 0; font-weight: 500;"></h5>-->
<!--        <span class="me-4">-->
<!--            <strong>Número da Conta:</strong>-->
<!--            <span th:text="${numeroConta}">04</span>-->
<!--        </span>-->

<!--    </div>-->

<!--    <div>-->
<!--        <h1>Lista de Comentários</h1>-->

<!--        <ul>-->
<!--            <li th:each="comentario : ${comentarios}" th:text="${comentario.texto}"></li>-->
<!--        </ul>-->
<!--    </div>-->

</div>
</body>
</html>