<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorate="~{layout/layout}" th:with="titulo='Cadastro de Conta'">
<body>

<div layout:fragment="content">

    <div class="container my-5 d-flex justify-content-center">
        <div class="card shadow-lg" style="width: 100%; max-width: 500px;">
            <div class="card-header text-white text-center" style="background-color: #c59d34;">
                <h4 th:text="${conta.id != null} ? 'Edição da conta ' + ${conta.id} : 'Cadastro de Conta'"></h4>
            </div>
            <div class="card-body">


                <form   th:style="${conta.id == null} ? 'display: none' : 'display:flex'"
                        th:action="@{'/conta/' + ${conta.id} + '/transacoes/form'}" method="GET" class="mb-3">
                    <button class="btn btn-primary" type="submit">Nova Transação(+)</button>
                </form>

    <form method="POST" th:action="@{/conta/save}"  th:object="${conta}">

        <div th:if="${msg}" class="alert alert-success text-center" role="alert">
            [[${msg}]]
        </div>

        <input type="hidden" th:field="*{id}"/><br>

        <div class="mb-3">
            <label class="form-label">Descrição:</label>
            <input class="form-control" type="text" th:field="*{descricao}">
<!--            <small class="text-danger" th:text="${erroNome}"></small>-->
        </div>

        <div class="mb-3">
            <label class="form-label">Numero:</label>
            <input class="form-control" type="number" th:field="*{numero}">
<!--            <small class="text-danger" th:text="${numero}"></small>-->
        </div>


        <div class="mb-3">
            <label class="form-label">Dia de Fechamento:</label>
            <input class="form-control" type="date" th:field="*{diaFechamento}">
<!--            <small class="text-danger" th:text="${erroNome}"></small>-->
        </div>


        <div class="mb-3">
            <label class="form-label">Tipo:</label>
            <select th:field="*{tipo}">
                <option th:each="tipo : ${tiposConta}" th:value="${tipo}" th:text="${tipo}"></option>
            </select>
            <!--            <small class="text-danger" th:text="${erroNome}"></small>-->
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-success" style="background-color: #05213d;"
                    th:text="${conta.id != null} ? 'Editar' : 'Criar'">
            </button>
        </div>
    </form>
	</div>
        </div>
    </div>
</body>
</html>