<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorate="~{layout/layout}" th:with="titulo='Cadastro Correntista'">
<body>
    <div layout:fragment="content">
    <h1>Lista de contas</h1>

    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>Descrição</th>
                <th>Número</th>
                <th>Dia de fechamento</th>
                <th>Tipo de conta</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="conta : ${contas} ">

                <td>[[${conta.id}]]</td>
                <td>[[${conta.descricao}]]</td>
                <td>[[${conta.numero}]]</td>
                <td>[[${conta.diaFechamento}]]</td>
                <td>[[${conta.tipo}]]</td>
				
            </tr>
        </tbody>
    </table>

</body>
</html>