<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="~{/fragments/base :: head(${titulo})}">
</head>
<body>
    <div th:replace="~{/fragments/base :: header}"></div>

    <div class="card-body" layout:fragment="content"></div>

    <div th:replace="~{/fragments/base :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>