<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorate="~{layout/layout}" th:with="titulo='Cadastro Correntista'">
<body>
    <div layout:fragment="content">

    <h2 th:text="${mensagem}"></h2>

        <div class="container mt-4">

            <form th:action="@{/correntista/form}" method="GET" class="mb-3">
                <button class="btn btn-primary" type="submit">Novo(+)</button>
            </form>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover align-middle text-center">
                    <thead class="table-light">
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Email</th>
                        <th>Administrador?</th>
                        <th>ID Contas</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="correntista : ${correntistas}">
                        <td>[[${correntista.id}]]</td>
                        <td th:text="${correntista.nome}"></td>
                        <td th:text="${correntista.cpf}"></td>
                        <td th:text="${correntista.email}"></td>
                        <td th:text="${correntista.isAdmin}"></td>
                        <td>
                        <span th:each="conta, iterStat : ${correntista.contas}">
                            <span th:text="${conta.id}"></span><span th:if="${!iterStat.last}">, </span>
                        </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>
</html>