<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listagem Correntistas</title>
</head>
<body>

    <h2 th:text="${mensagem}"></h2>

    <form th:action="@{/correntista/form}" method="GET">
        <button class="btn btn-primary" type="submit">Novo</button>
    </form>

    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="correntista : ${correntistas}">
                <td>[[${correntista.id}]]</td>
                <td th:text="${correntista.nome}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>